body {
    background: #f1f6f5;
    color:#1b1b1b;
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s !important;

    display: flex;
    flex-direction: column;
    margin:25px;
}

h2 {
    line-height: 1.5;
    font-size: 42px;
}

header {
    flex-grow: 1;
    min-height: 400px;
    background: url("https://www.adambbrooks.com/img/41.png");
    background-size: cover;
    display: flex;
    
    justify-content: center;
    align-items: center;
    text-align: center;
}

.herotext {
    max-width:600px;
    font-size: 24px;
    letter-spacing: 2;
}

header:hover {
    
}

.outer {
    width: 100%;
    -webkit-transition: all 0.5s; /* For Safari 3.0 to 6.0 */
    transition: all 0.5s; /* For modern browsers */
}

.outer:hover {
}

.intro {
    background: #e4d8c6;
}

.intro:hover {
    background: #dcc6a5;
}

.blogpost {
    color:#eeeeee;
    background: #1a1a1a;
}

.blogpost:hover {
    background: #222222;
}

a {
    color: #ff5050;    
}

.blogpost > .inner > a {    
    font-size: 3em;
    text-align: left;
    letter-spacing: 2;
    float:left;
    text-decoration: none;
    margin-bottom: 25px;
}

.blogpost > .inner > p {
    text-align: left;
    line-height: 2em;
}

.inner {
    margin:auto;
    margin-top: 25px;
    max-width: 900px;
    padding:100px 50px 100px 50px;
    text-align: center;
}

footer {
    min-height: 0px;
    background: #f1f6f5;

}

.logo {
    margin:auto;
    max-height: 100px;
}

.contactSection {

}

.contactSection > a {
    font-size: 18px;
    padding-right: 15px;
    text-transform: uppercase;
    letter-spacing: 1.5;
    color:#1a1a1a;
    text-decoration: none;
}

.contactSection > a:hover {
    color:hsla(6, 100%, 0%, 0.25);
    text-decoration: none;
}

.history {
    filter: grayscale(100%)
}